<section class="max-w-6xl mx-auto px-6 py-10">

  <h1 class="text-3xl font-bold mb-8">
    <%= isEdit ? "Edit Experience" : "Add Experience" %>
  </h1>
  <div class="mb-4 flex gap-3">
    <label class="bg-gray-800 text-white px-4 py-2 rounded-lg cursor-pointer font-semibold">
      Import CSV
      <input type="file" id="csvInput" accept=".csv" hidden />
    </label>

    <span class="text-sm text-gray-600 pt-2">
      Upload one experience CSV
    </span>
  </div>


  <form method="POST" action="<%= isEdit ? `/admin/edit-experience/${experience._id}` : '/admin/add-experience' %>"
    class="bg-white p-8 rounded-2xl shadow space-y-8">

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4">
      <input name="title" value="<%= experience?.title || '' %>" required class="input" placeholder="Title">
      <input name="location" value="<%= experience?.location || '' %>" required class="input" placeholder="Location">
      <input name="price" type="number" value="<%= experience?.price || '' %>" required class="input"
        placeholder="₹ Price">
      <input name="duration" value="<%= experience?.duration || '' %>" required class="input" placeholder="Duration">
      <input name="image" value="<%= experience?.image || '' %>" required class="input" placeholder="Image URL">
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <textarea name="description" class="input h-32"
        placeholder="Description"><%= experience?.description || '' %></textarea>
      <textarea name="highlights" class="input h-32"
        placeholder="Highlights"><%= experience?.highlights?.join(", ") || '' %></textarea>
    </div>
    <div>
      <h2 class="text-xl font-semibold mb-3">Available Slots</h2>
      <div id="slotsContainer" class="space-y-3"></div>

      <button type="button" id="addSlotBtn" class="mt-2 bg-blue-500 text-white px-4 py-2 rounded-lg font-semibold">
        + Add Slot
      </button>
    </div>

    <input type="hidden" name="availability" id="availabilityInput">

    <button class="w-full bg-green-500 text-white py-3 rounded-xl text-lg font-bold">
      <%= isEdit ? "Update Experience" : "Create Experience" %>
    </button>

  </form>
</section>
<link rel="stylesheet" href="/admin.css">
<script defer src="/admin-form.js"></script>